<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles2.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="parent-container">
    <form method="post">
      <div class="main-container">
        <img src="/images/download-sd.svg" alt="" style="height: 100px; width: 100px;"/><br />
        <b>Your File is ready to Download</b><br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br />
        <% if(locals.error){ %>
        <div style="color: red">incorrect password</div>

        <% } %>
        <br />
        <p>Your File "<%= originalName %>" is Ready to Download</p><br />
   
        <button class="Link-button">
          <span>Download File</span>
        </button>
      </div>
    </form>
  </div>
  </body>
</html>
